/* Structure */
.example-container {
    position: relative; 
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .example-table-container {
    position: relative;
    max-height: 800px;
    overflow: auto;
  }

  .filter-container{
    position: relative;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  .form-field-container {
    position: relative;
    margin-top: 16px;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 16px;
}

.checkbox-container {
    position: relative;
    margin-top: 32px;
    margin-right: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
}
  
  
  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }
  
  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }
  
  .mat-column-created {
    max-width: 124px;
  }
  