<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header id="mat-expansion-panel-header-1">
    <mat-panel-title>
      <label *ngIf="volunteer.firstName">
        {{volunteer.firstName}} {{volunteer.lastName}}
      </label>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <mat-grid-list cols="5" rowHeight="80px" class="expansion-content-container">
    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <input matInput placeholder="Ime:" value="{{volunteer.firstName}}" readonly>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <input matInput placeholder="Prezime:" value="{{volunteer.lastName}}" readonly>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <input matInput placeholder="Email:" value="{{volunteer.email}}" readonly> 
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <input matInput placeholder="Datum rođenja:" value="{{volunteer.birthday | date:'dd.MM.yyyy.'}}" readonly>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <div *ngIf="volunteer.sex">
          <input matInput placeholder="Spol:" value="{{volunteer.sex.name}}" readonly>
        </div>
        <div *ngIf="!volunteer.sex">
          <input matInput placeholder="Spol:" value="">
        </div>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <div *ngIf="volunteer.citizenship">
          <input matInput placeholder="Državljanstvo:" value="{{volunteer.citizenship.name}}" readonly>
        </div>
        <div *ngIf="!volunteer.citizenship">
          <input matInput placeholder="Državljanstvo:" value="">
        </div>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <input matInput placeholder="Korisničko ime:" value="{{volunteer.username}}" readonly>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
          <div *ngIf="volunteer.outsideVolunteer !== null">
              <input *ngIf="volunteer.outsideVolunteer" matInput placeholder="Vanjski volonter:" value="Da" readonly>
              <input *ngIf="!volunteer.outsideVolunteer" matInput placeholder="Vanjski volonter:" value="Ne" readonly>
            </div>
            <div *ngIf="volunteer.outsideVolunteer === null">
                <input matInput placeholder="Vanjski volonter:" value="Ne" readonly>
            </div>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <div *ngIf="volunteer.potentialVolunteer !== null">
          <input *ngIf="volunteer.potentialVolunteer" matInput placeholder="Potencijalni volonter:" value="Da" readonly>
          <input *ngIf="!volunteer.potentialVolunteer" matInput placeholder="Potencijalni volonter:" value="Ne" readonly>
        </div>
        <div *ngIf="volunteer.potentialVolunteer === null">
            <input matInput placeholder="Potencijalni volonter:" value="Ne" readonly>
        </div>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1" color="primary">
      <mat-form-field>
        <input matInput placeholder="OIB:" value="{{volunteer.oib}}" readonly>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

</mat-expansion-panel>