/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }
  
  .basic-container {
    padding: 30px;
  }
  
  .version-info {
    font-size: 8pt;
    float: right;
  }

  .container {
    position: relative; 
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  table {
    width: 100%;
  } 

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .snackbar-success {
    background: #66ffc2;
  }

  .snackbar-error {
    background: red;
  }
  
  